services:
  build:
    image: sbtscala/scala-sbt:eclipse-temurin-jammy-17.0.9_9_1.9.8_3.3.1
    volumes:
      - .:/app
      - /var/run/docker.sock:/var/run/docker.sock
      - $HOME/.docker:/root/.docker
    working_dir: /app
    environment:
      - DOCKER_USERNAME
      - DOCKER_PASSWORD
      - PONKOTUY_DOCKER_USERNAME
      - PONKOTUY_DOCKER_PASSWORD
      - VERSION
    command: >
      bash -c 'apt update &&
        apt install -y docker.io &&
        docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD &&
        sbt -Dversion=$VERSION docker:publish &&
        docker login docker.ponkotuy.com -u $PONKOTUY_DOCKER_USERNAME -p $PONKOTUY_DOCKER_PASSWORD &&
        docker tag ponkotuy/photographic-indexer:$VERSION docker.ponkotuy.com/photographic-indexer:$VERSION &&
        docker tag ponkotuy/photographic-indexer:latest docker.ponkotuy.com/photographic-indexer:latest &&
        docker push docker.ponkotuy.com/photographic-indexer:$VERSION &&
        docker push docker.ponkotuy.com/photographic-indexer:latest'
