name: 'Release'
on:
  release:
    types: [ published ]
jobs:
  release-app:
    name: Release docker image
    runs-on: ubuntu-latest
    environment: dockerhub
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          fetch-tags: true
          ref: ${{ github.event.release.tag_name }}
      - name: Build app
        working-directory: .
        env:
          DOCKER_USERNAME: ${{secrets.DOCKER_USERNAME}}
          DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
          VERSION: ${{github.ref_name}}
        run: docker compose -f docker-compose.build.yml up --abort-on-container-exit --exit-code-from build

  release-view:
    name: Publish view docker image
    runs-on: ubuntu-latest
    environment: dockerhub
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: build
        working-directory: ./view/
        run: docker compose -f docker-compose.build.yml build

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: publish
        working-directory: ./view/
        run: |
          docker tag ponkotuy/photographic-indexer-view:latest ponkotuy/photographic-indexer-view:${GITHUB_REF##*/}
          docker push ponkotuy/photographic-indexer-view:${GITHUB_REF##*/}
          docker push ponkotuy/photographic-indexer-view:latest
          docker tag ponkotuy/photographic-indexer-view:latest ghcr.io/ponkotuy/photographic-indexer-view:${GITHUB_REF##*/}
          docker tag ponkotuy/photographic-indexer-view:latest ghcr.io/ponkotuy/photographic-indexer-view:latest
          docker push ghcr.io/ponkotuy/photographic-indexer-view:${GITHUB_REF##*/}
          docker push ghcr.io/ponkotuy/photographic-indexer-view:latest

  release-clip-server:
    name: Publish clip-server docker image
    runs-on: ubuntu-latest
    environment: dockerhub
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v3
      - name: build
        working-directory: ./clip-server/
        run: docker compose -f docker-compose.build.yml build

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Login to GHCR
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: publish
        working-directory: ./clip-server/
        run: |
          docker tag ponkotuy/clip-server:latest ponkotuy/clip-server:${GITHUB_REF##*/}
          docker push ponkotuy/clip-server:${GITHUB_REF##*/}
          docker push ponkotuy/clip-server:latest
          docker tag ponkotuy/clip-server:latest ghcr.io/ponkotuy/clip-server:${GITHUB_REF##*/}
          docker tag ponkotuy/clip-server:latest ghcr.io/ponkotuy/clip-server:latest
          docker push ghcr.io/ponkotuy/clip-server:${GITHUB_REF##*/}
          docker push ghcr.io/ponkotuy/clip-server:latest
